<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406535992002-730fp94jcc3mm14h59ltjqchf3ls2okf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406535992002-730fp94jcc3mm14h59ltjqchf3ls2okf</string>
	<key>API_KEY</key>
	<string>AIzaSyARM9OYICL842MNtswmlXprtJPgSjFqB3k</string>
	<key>GCM_SENDER_ID</key>
	<string>406535992002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-00555436-student.georgian.on.ca.MDEV-final-exam</string>
	<key>PROJECT_ID</key>
	<string>mdev1001-final-exam-af3c7</string>
	<key>STORAGE_BUCKET</key>
	<string>mdev1001-final-exam-af3c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406535992002:ios:b665b919e53aa9476b815b</string>
</dict>
</plist>